<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-default fixed-top" id="mainNav">

  
  <a class="navbar-brand" href="index.html"><img src="/assets/img/Logo-Conalfa_Full.png" alt="" width="90" height="36"></a>
  <button id="boton" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" >
    <span  class="navbar-toggler-icon"></span>
  </button>
     

  

  <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-right: 30px; max-width: 100%;" >
     
      
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion" >
       
    
    <li id="student_task" class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing" >
            <a class="nav-link"  routerLink ="exercises/task" >  
                <i class="fa fa-pencil"></i>
                <span class="nav-link-text" > REALIZAR TAREA </span>
            </a>
        </li>

        <!--<li id="new_dish" class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing" >
              <a class="nav-link"  routerLink ="dishes/add" >  
                  <i class="fa fa-pencil"></i>
                  <span class="nav-link-text" > CONSONANTES</span>
              </a>
          </li>
          <li id="categories_list" class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing + Menu List" >
              <a class="nav-link" routerLink="" >
                  <i class="fa fa-pencil"></i>
                  <span class="nav-link-text" > SÍLABAS</span>
              </a>
          </li>

        
          <li id="dishes_list" class="nav-item" data-toggle="tooltip" data-placement="right" title="Add listing + Menu List" >
            <a class="nav-link" routerLink="dishes" >
                <i class="fa fa-pencil"></i>
                <span class="nav-link-text" > PALABRAS</span>
            </a>
        </li>-->

        
      </ul>
      <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
              <a class="nav-link text-center" id="sidenavToggler">
                  <i class="fa fa-fw fa-angle-left"></i>
              </a>
          </li>
      </ul>
    
      <ul class="navbar-nav ml-auto">
          
        
          <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-fw fa-sign-out"></i>Salir</a>
          </li>
      </ul>
  </div>
</nav>
<!-- /Navigation-->


<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Desea cerrar sesion?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">Seleccione "Cerrar sesión" si desea terminar la sesion actual.</div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-primary" data-dismiss="modal" (click)="clean()" >Cerrar sesion</a>
        </div>
    </div>
</div>
</div> 


