<div class="content-wrapper">

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-left: 25px;">
                <a href="#">Reiniciar tareas</a>
            </li>
            <li class="breadcrumb-item active">Se reiniciaran todas las tareas</li>
        </ol>



           <button class="btn btn-primary" (click)="confirmar_reinicio()" >REINICIAR TAREAS DEL ALFABETIZADOR</button> 
                  <br>
                  <br>
                  <br>




    </div>
