<!-- /Navigation-->
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="margin-left: 25px;">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">FRASES</li>
        </ol>



        <div class="box_general padding_bottom" >

          <!--GIF PARA LA CARGA DE DATOS, SE MUESTRA MIENTRAS SE CARGAN LOS DATOS EN EL CONSTRUCTOR-->
          
          <div  *ngIf="loading_gif == true" style="text-align: center;">
            <img  src=  "assets/img/loading.gif" id="imagen_formulario2"
                style="max-width: 100px; position:absolute; margin-left: -50px;">                           
        </div>
          


            <!--CATEGORIAS------------------se muestra el listado de las categorias que existen-->
            <div class="box_general" style="text-align: center;">


                <!--SI NO HAY RESULTADOS SE MUESTRA EL SIGUIENTE PARRAFO-->
                

                  
                         

<!--------------------------------------------------------------------------->
<div *ngFor="let phrase of phrase_items ; let i = index" class="row" >

    <div class="form-group">
        <label> {{phrase.word_text}} </label>
    </div>




    
        <div  class="form-group" style="text-align: center;">

                <figure>
                    <img  src=  "{{phrase.image_text}}" id="imagen_formulario2"
                        style="max-width: 175px;" > 
                        
                            <a  *ngIf="rolname === 'c' " class="btn_1 gray delete"  style="font-size:x-small; color:rgb(157, 187, 194); position:absolute; text-align: right;" (click)="confirmar_disable(phrase.syllable_word_id)"><i
                class="fa fa-fw fa-remove"></i></a> 
                        &nbsp;  
                </figure>
    
        </div>
    
    <br>


    <div *ngIf="rolname === 'p' "  class="form-group" style="text-align: center;">
            
        <button class="btn_1 green approve"  (click)="conectarsocket(phrase.word_text,phrase.image_text,phrase.syllable_word_id,phrase.type,phrase.syllable_word_id)">
            Asignar tarea
          </button>
    </div>

  
</div>


<!--------------------------------------------------------------------------->

                                 
                                
                          
                                        

            </div>       
        
      

    </div>    
    <!-- /.container-fluid-->
</div>
<!-- /.container-wrapper-->



</div>
